<ul>
<% @informations.each do |info| %>
  <li>

  <%= link_to info.title, information_path(info) %>
  <%= link_to 'Edit', edit_information_path(info) %>
  <%= link_to 'Delete', information_path(info), method: :delete %>
  </li>
<% end %>
</ul>
<%= link_to 'New Info', new_information_path %>